header.navbar.navbar-expand-lg
    .container-fluid
        .row
            .col-2
                .fe-logo
                    img(src = imgPath + 'logo.png')
            .col-10
                .fe-nav
                    ul.fe-navbar
                        li
                            a(href=rootBase + '#')
                                span About Us
                        li
                            a(href=rootBase + '#')
                                span Blog
                        li
                            a(href=rootBase + '#')
                                span Collection
                        li
                            a(href=rootBase + '#')
                                span Latest News
                        li
                            a(href=rootBase + '#')
                                span Faq
                .fe-toolbox
